@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,600;14..32,700;14..32,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.hero {
  position: relative;
  overflow: hidden;
  height: 100dvh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   object-fit: cover;
  object-position: center;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 80px;
  z-index: 999;
  color: white;
  border-radius: 100px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  max-width: 1600px;
}
.logo img{
height: 90px; ;
width: auto;
}
 .logo .menu {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  text-decoration: none;
list-style: none;
}
.logo .menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px;
  border-radius: 20px;
  border: 4px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}
.logo .menu li a:hover{
  color: black;
  background: rgba(100, 181, 238, 0.8);
border: 2px solid #ffffff;
}
.navbar-toggle{
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar{
  display: block;
  width:25px ;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
/* BUTTON CONTAINER */
.hero-buttons{
  position:absolute;
  top: 70%;
  left: 45%;
  display: flex;
  justify-content: center;
  gap: 20px;
  transform: translateX(-50%);
   flex-wrap: wrap;
}
/* BUTTON STYLE */
.btn1, .btn2{
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  overflow: hidden;
}

.btn1, .btn2{
  border: 2px solid ;
  color: white;
  position: relative;
}

.btn1::before, .btn2::after{
  content: "";
  position: absolute;
  inset: 0;
border-radius: 20px;
  padding: 2px;
  background: linear-gradient(90deg, #e9dff4ce, #5a3782ce, #472a41);
  -webkit-mask: 
    linear-gradient(#ffffff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.btn1:hover{
  
  background: rgba(58, 149, 215, 0.8);
}
.btn2:hover{
  background: rgba(58, 149, 215, 0.8);
  color: white;
}
.btn1:hover, .btn2:hover{
  transform: scale(1.05);
}

@media(max-width:880px){
  .navbar{
    backdrop-filter: none;
  }
  .logo .menu{
    display: none;
    flex-direction:column;
    align-items: flex-start;
    gap:1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  .navbar-toggle{
    display: block;
    z-index: 999;
  }
  .logo .menu.active{
    display: flex;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }
 .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  } 
  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  } 
}
@media(max-width:768px){

  .hero-buttons{
  display: flex;
    top: 70%; /* thoda neeche */
    flex-direction: row; /* buttons vertical ho jayenge */
    gap: 10px;
    left: 50%; /* center align */
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .btn1, .btn2{
    width: auto;   /* equal size */
    text-align: center;
    font-size: 12px;
    padding: 8px 16px;
    white-space: nowrap;
  }
.btn1:hover{
  
  background: rgba(97, 84, 157, 0.8);
}
.btn2:hover{
  background: rgba(97, 84, 157, 0.8);
}
}
@media(max-width:768px){
  .bg-video{
    object-position: center;
  object-fit: 50% 30%;
  }
  .hero{
    height: 100dvh;
  }
}
